[2018-09-06 02:00] helphi opened #7 "docker image support"
Hope there is a docker image on DockerHub associate with the Dockerfile.

[2018-10-19 06:30] oiooj commented on #7
Fixed by #12

[2018-10-19 06:30] #7 closed

[2018-12-24 08:00] ggguang opened #16 "goproxy.io is timeout"
https://goproxy.io is timeout

<img width="532" alt="timeout" src="https://user-images.githubusercontent.com/28919639/50393997-0ceeaa00-0795-11e9-8543-68b2b35b4a0a.png">

[2018-12-26 06:13] lcg635 opened #24 "无法安装golang.org/x/net"
1. 在google cloud的一台机器上安装了自己编译出来的goproxy
2. 本地mac笔记本设置了GOPROXY
3. go get -v -u golang.org/x/net
本地日志:
go: finding golang.org/x/net latest
go: finding golang.org/x latest
go: finding golang.org latest
go get golang.org/x/net: no matching versions for query "latest"

goproxy日志:
2018/12/26 14:11:39 goproxy: 119.130.228.90:30467 download /golang.org/x/net/@v/list
2018/12/26 14:11:39 goproxy: 119.130.22

[2018-12-26 06:35] oiooj commented on #24
Yes，I have the same issue，you can use https://github.com/oiooj/goproxy/tree/pr-fix-latest, I fixed this issue at that branch, but it dep on `go` command. I will fix this problem at master ASAP, Thank you.

[2018-12-26 06:50] oiooj commented on #24
cc @hxzhao527

[2018-12-26 07:06] lcg635 commented on #24
@oiooj
Thanks very much.

[2018-12-26 08:47] hxzhao527 commented on #24
assign to me. I will handle this.

[2018-12-26 11:54] hxzhao527 commented on #24
committed

[2018-12-26 13:14] #24 closed

[2018-12-27 06:22] fitzix opened #28 "go get modules 404 Not Found"
go: github.com/mritd/sshutils@v0.0.0-20181227030943-b85e20a7d4b8: unexpected status (https://goproxy.io/github.com/mritd/sshutils/@v/v0.0.0-20181227030943-b85e20a7d4b8.info): 404 Not Found

[2018-12-27 06:45] oiooj commented on #28
cc @hxzhao527

[2018-12-27 06:57] oiooj commented on #28
@fitzix Thanks, I rolled back for the `goproxy.io`, we need to fix that at the master.

we got many logs like this ：

`2018/12/26 22:53:43 latest failed: missing github.com/lxn/walk/declarative/go.mod at revision 6d09625fb5d5`

[2018-12-27 07:01] fitzix commented on #28
Yeah, it works now.
Thank u!

[2018-12-27 08:07] lcg635 opened #29 "Unable to download library with initials capitalized"
[code]

[2018-12-27 08:37] oiooj commented on #28
I deployed 477f7b3d7a845a2e3c93309e799f105c2d3a6986 online last nignt, I roll back to https://github.com/oiooj/goproxy/tree/pr-fix-latest, maybe need to redirect like https://github.com/oiooj/goproxy/blob/pr-fix-latest/pkg/proxy/proxy.go#L156, I have no idea.

[2018-12-27 08:39] hxzhao527 commented on #29
WIP

[2018-12-27 08:47] oiooj commented on #29
The module `path` and `version` need to decode before download. Thanks, @lcg635.

[2018-12-27 09:11] hxzhao527 commented on #29
`go` command will save `PuerkitoBio` to `!puerkito!bio`.
proxy need to handle this case.
WIP

[2018-12-27 09:58] hxzhao527 commented on #28
Still can't reproduce. Is there any log?

[2018-12-27 16:13] lcg635 opened #32 "can't get cloud.google.com/go"
error:
[code]

goproxy log:
[code]

[2018-12-28 00:15] hxzhao527 commented on #32
1. How do you get this package? `go get` ? `go mod`? Can you provide your command?
2. where is goproxy deployed? inside wall? outside?

[2018-12-28 00:45] hxzhao527 opened #33 "gracefful shutdown"
[main.go#L67](https://github.com/goproxyio/goproxy/blob/master/)

seems just catch signal.

WIP

[2018-12-29 04:31] oiooj commented on #32
@lcg635  Of course you can't fetch `cloud.google.com/go`, you need to cross the `wall`.

[2018-12-29 05:42] hxzhao527 commented on #32
`curl -v http://xxxxxx/cloud.google.com/go/@v/list` and what you get?

[2018-12-29 05:44] lcg635 commented on #32
@hxzhao527 I can't get this url. I will try deploy goproxy in Hong Kong later, thank you !

[2018-12-29 06:23] hxzhao527 opened #35 "Is there need to support Fossil Scm?"
According to golang/go#10010 , and [vcs.go#L226](https://github.com/golang/go/blob/ed15e82413c7b16e21a493f5a647f68b46e965ee/src/cmd/go/internal/modfetch/codehost/vcs.go#L226)

 `go get` support [fossil-scm](https://www.fossil-scm.org/index.html/doc/trunk/www/index.wiki).

But docker image [buildpack-deps:stretch-scm](https://github.com/docker-library/buildpack-deps/blob/1845b3f918f69b4c97912b0d4d6

[2018-12-29 08:55] oiooj opened #38 "Add more tests into proxy_test"
We need to add more tests into `proxy_test.go`, like:

- [x] golang.org/x/net  latest (pass)
- [x] github.com/micro/go-api/resolver  cbf6e7fcfe8a (maybe fail)
- [x] github.com/micro/go-api  master (pass)
- [x] cloud.google.com/go   (pass)
- [x] github.com/oiooj/agent  v0.2.2  (maybe fail)
- [x] github.com/mritd/sshutils  v0.0.0-20181227030943-b85e20a7d4b8 (pass)

[2018-12-29 23:48] hxzhao527 commented on #38
You mean support `go get` no matter what `GO111MODULE ` is?

[2018-12-30 11:14] hxzhao527 commented on #35
waiting docker-library/buildpack-deps#87. Maybe we don't need include `Fossil` by our self.

[2019-01-09 02:27] #35 closed, assigned to nobody

[2019-01-09 12:52] hxzhao527 commented on #28
Does server run new version goproxy now?
Does this error occur again?

[2019-01-09 12:53] hxzhao527 commented on #32
@lcg635 any progress?

[2019-01-10 00:31] jbaruch opened #40 "The project doesn't buld"
Hey folks, the project looks great!

I tried to build it from the source and looks like some dependencies (the `github.com/goproxyio/goproxy/internal` modules) are missing. Can you please add them to GitHub?

Thanks!

[2019-01-10 00:41] hxzhao527 commented on #40
@jbaruch It is generated by `go generate`.

[2019-01-10 00:46] hxzhao527 opened #41 "Discussion: to support private repo?"
same with title.

Maybe we can abstract https://github.com/goproxyio/goproxy/blob/26d189ed77e88a022b421e80e60814214b9301f3/pkg/proxy/proxy.go#L135 to make it support private repo, such as attach basic-auth and so on.

[2019-01-10 00:51] hxzhao527 commented on #41
I think the way `grpc compile plugin` use is pretty.

[2019-01-10 02:02] prologic opened #42 "Docker image is broken"
Because you are not building a static binary in the build image and use the `golang:1.11` tag which uses an Ubuntu/Debian based file systme you are building against glibc. In the runtime image you then copy the resulting binary but use the `alpine` base image.

This doesn't work :/

[code]

Either we need to:

* Build a static binary in the build iamge

or

* Use the same base image root file-syst

[2019-01-10 03:04] hxzhao527 commented on #42
Yes.There is a error in dockerfile, which caused by me.  I'm sorry.

 To change the builder image, maybe not the best way. This is not the main problem.
As you see by `ldd`, it depends on `ld-linux-x86-64.so` which is 64bits.

I have tried to change the builder image. This needs to change other file, like `generate.sh`.

So change `go build` to `GOARCH=386 GOOS=linux go build` will work.

Welcome

[2019-01-10 03:55] hxzhao527 commented on #38
Plan: add docker image test before 除夕.

[2019-01-10 04:43] prologic commented on #42
Btw... Why are we pulling in internal code from Go -- `cmd/internal/...` into this project in the first place? This seems to get run by `go generate` and `build/generate.sh` :/ This seems really weird to me that we're relying on internal APIs and copying them in-place.

[2019-01-10 04:57] hxzhao527 commented on #42
Haha. This may belongs  #41 .I will talk about this in there.

[2019-01-10 05:29] prologic opened #44 "Docker Hub -> Automated Build"
Before we merge #43 -- Can you please remove the Docker Hub repo https://hub.docker.com/r/goproxy/goproxy and re-create it as an "Automated Build" so it builds automatically on new pushes to the Github repo?

This makes deployments far easier and more convenient as I can be sure that `latest` points to `mazter` and tags points to released versions.

[2019-01-10 06:52] oiooj commented on #44
`AUTOTEST` enabled, we want to provide a stable image version for users.

[2019-01-10 07:01] prologic commented on #44
Sorry I'm not sure what this comment means?

I an ideal world; `master` and therefore the `latest` tagged Docker Hub image //should// always be stable right? (//provided of course there is a decent unit test suite and PRs that break the test suite are blocked//) Or am I missing something?

[2019-01-10 07:28] #44 closed, assigned to nobody

[2019-01-10 08:10] #42 closed

[2019-01-10 08:15] lovejoy commented on #42
how long the image will update ?

[2019-01-10 08:18] hxzhao527 commented on #42
Ready now.

[2019-01-10 08:22] prologic commented on #42
`By goproxy • Updated 7 minutes ago`

It's already updated

See: https://hub.docker.com/r/goproxy/goproxy

[2019-01-19 03:50] prologic commented on #28
I get a 404 on trying to get modules with branches as versions.

Example:

[code]

It doesn't seem possible to perform `go get -u foo@master` like you should be able to according to the GoModules wiki.

[2019-01-21 00:51] hxzhao527 commented on #28
WIP

[2019-01-21 02:48] prologic commented on #28
👍

On Mon, 21 Jan 2019 at 10:51, Hao Xiang <notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-01-21 03:34] oiooj commented on #38
We fixed `github.com/micro/go-api master` today, thanks @hxzhao527.

[2019-01-22 12:56] prologic commented on #41
Who is working on this? Looks like [athens](https://github.com/gomods/athens) has support for Private Repositories; but I haven't tried it yet. Can we learn from their implementation?

[2019-01-22 13:56] hxzhao527 commented on #41
@prologic This just a proposal now. Maybe after 春节(a chinese festival) and I find a new company, I will start this work, and submit a demo implement.

I noticed athens too. But it seems that we have a big different basement from it. I will study about it deeply this week, and sync if I have any progress.

If you have any idea about implement, just post.Thanks a lot.

[2019-01-28 12:48] asim opened #48 "Remove go-api test case from testdata"
Please remove go-api from your testdata.

[2019-01-29 02:32] hxzhao527 commented on #48
emmm, any reason?

[2019-01-30 02:36] oiooj commented on #28
Fixed by @hxzhao527 , and deployed master online.

[2019-01-30 02:36] #28 closed

[2019-01-30 02:37] oiooj commented on #32
Fixed

[2019-01-30 02:37] #32 closed

[2019-01-30 03:43] oiooj commented on #38
All fixed, thanks @hxzhao527

[2019-01-30 03:43] #38 closed

[2019-02-03 02:49] afocus opened #50 "thanks"
😋 头疼下载墙外的包 ，解决了获取goalng.org/x/... 的问题  谢谢 goproxy.io

[2019-02-05 09:49] #50 closed

[2019-02-10 14:25] oiooj opened #51 "unknown revision"
What I did:

[code]

error log

[code]

[2019-02-10 14:49] oiooj commented on #51
I rolled back `goproxy.io`, and every thing is OK now.

[code]

[2019-02-11 01:42] hxzhao527 commented on #51
**can't reproduce locally.**

![image](https://user-images.githubusercontent.com/8402502/52543065-4fba1f00-2de1-11e9-9cb4-7cddd6955fb0.png)

![image](https://user-images.githubusercontent.com/8402502/52543075-5fd1fe80-2de1-11e9-9bf3-e0f372474870.png)

[2019-02-16 03:05] gouez opened #52 "https://goproxy.io/ cannot connect"
https://goproxy.io/  cannot connect

![2426c23a-9b1d-49d6-9e44-3c36e4fd63ac](https://user-images.githubusercontent.com/4373882/52893737-c6d52600-31da-11e9-92cd-7584556db1a5.png)

[2019-02-16 03:10] hxzhao527 commented on #52
@oiooj

[2019-02-16 03:42] oiooj commented on #52
The service restored, sorry for that:

[code]

[2019-02-16 03:42] #52 closed

[2019-02-23 03:57] gosp opened #53 "could goproxy support mirror?"
To install goproxy inside Greatwall, mirror is essential.

# Repository mirrors
Mirrors = [
"golang.org/x/(.*) => github.com/golang/$1",
"google.golang.org/appengine => github.com/golang/appengine",
"google.golang.org/genproto => github.com/google/go-genproto",
"google.golang.org/grpc => github.com/grpc/grpc-go",
"google.golang.org/api => github.com/googleapis/google-api-go-client",
"cloud.google.

[2019-02-24 03:27] hxzhao527 commented on #53
Haha, intresting.

Have you tried `replace`?  [when-should-i-use-the-replace-directive](https://github.com/golang/go/wiki/Modules#when-should-i-use-the-replace-directive)

Later, when the `plugin` mode comes, maybe goproxy will support `repository mirrors`.

[2019-02-26 04:34] prologic commented on #41
Any further updates on this? Any work-in-progress?

[2019-02-26 14:23] zedisdog opened #54 "unknown version"
Hi,I use `go mod download`,I got this:
![2](https://user-images.githubusercontent.com/8280666/53418874-b3645f00-3a13-11e9-9ac9-c2f5858f68aa.png)
then I accessed `https://goproxy.io/github.com/micro/go-micro/@v/v0.27.0.info` by chrome, and it was blank.
v0.27.0 is the newest version of go-micro.
so does the `goproxy.io` need some time for synchronization？

[2019-02-27 03:54] ztxmao opened #55 "build failed in go1.12"
hi、When I am build goproxy in go1.12,I got this:
go generate
go build

[2019-02-27 10:25] oiooj commented on #55
@ztxmao Plase use `go1.11` at this moment.

[2019-02-27 16:29] oiooj commented on #54
Fixed now, but I'm also confused with this issue.

`https://goproxy.io/github.com/micro/go-micro/@v/list`

[2019-02-27 16:29] #54 closed

[2019-02-28 00:50] zedisdog commented on #54
hi, thanks very much! this project helps me a lot :)

[2019-02-28 01:10] hxzhao527 commented on #41
I'm busy with finding a job, so not in process.

[2019-03-01 03:48] phper-chen opened #56 "【Unstable】It always failed to fetch some package"
￼￼￼
![image](https://user-images.githubusercontent.com/20152358/53615444-dd3aa300-3c18-11e9-90cc-a6af0cd1ed8c.png)

[2019-03-01 08:54] oiooj commented on #56
The repo `github.com/anmitu/go-shlex` not exist anymore.

[2019-03-01 08:58] oiooj commented on #56
I can not reproduce it:

[code]

[2019-03-01 10:26] phper-chen commented on #56
The cmd I had used was "go get -u google.golang.org/grpc"

[2019-03-07 03:20] fitzix opened #58 "`go get -u` could not get latest minor or patch releases"
`go get -u` unable to download the new version just released, is there a cache or a delay?
It works fine when I remove GOPROXY.

[2019-03-07 03:29] fitzix commented on #58
But it works fine when i remove `GOPROXY`.

[2019-03-08 02:13] oiooj commented on #58
@fitzix  Can you provide the `import path`?

[2019-03-08 02:23] fitzix commented on #58
`github.com/fitzix/proxy-test` I have released several versions for testing, but it only downloads v0.0.1.

[2019-03-08 02:41] oiooj commented on #58
fixed and deployed online:

[code]

[2019-03-08 02:45] fitzix commented on #58
It works fine now

[2019-03-08 02:47] oiooj commented on #58
Thanks for your feedback.

[2019-03-08 02:47] #58 closed

[2019-03-13 07:48] EddieChan1993 opened #59 "你好，我使用 set export GOPROXY=https://goproxy.io，仍然无法拉去依赖包"
`
go: finding github.com/ugorji/go/codec latest
go: finding github.com/gin-contrib/sse latest
go: golang.org/x/sys@v0.0.0-20190222072716-a9d3bda3a223: unrecognized import path "golang.org/x/sys" (https fetch: Get https://golang.org/x/sys?go-get=1: dial tcp 216.239.37.1:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or establ

[2019-03-13 16:33] oiooj commented on #59
1.  Make sure you enable module mode by `export GO111MODULE=on`
2. export GOPROXY=https://goproxy.io

@EddieChan1993 直接执行 `export GOPROXY=https://goproxy.io` 然后再试试。

[2019-03-14 02:03] songjiayang opened #60 "can not fetch GitHub new release version"
Go Version: 1.12.0
ErrorMessage:
[code]

But it can fetch the latest git summit hash.

[2019-03-14 08:53] oiooj commented on #60
[code]

Just try it

[2019-03-14 10:11] songjiayang commented on #60
I think this is a cache problem, now it works.

[2019-03-14 12:18] edwardpro commented on #55
The same to this case. Also use go 1.12

[2019-03-15 01:08] #60 closed

[2019-03-15 07:32] #59 closed

[2019-03-18 14:36] EddieChan1993 commented on #59
thanks

[2019-03-19 11:07] kekekeke4 opened #62 "can't get last tag version"
1、i create a reposity A on my github,then  i push my all code to the reposity and create tag "v1.0.0" for the reposity
2、i create go project B and import the package from github reposity A   in my project B,that get the lastest version tag。
3、then i modify reposity A code and push to github,create tag v1.0.1 this time,to project B i run
"go build" command that can't use the v1.0.1 code from reposi

[2019-03-19 11:08] kekekeke4 commented on #62
i use the goproxy is https://goproxy.io

[2019-03-20 02:34] oiooj commented on #62
@kekekeke4 Thanks for your report, I fixed and deployed, can you try it again?

[2019-03-20 02:44] kekekeke4 commented on #62
ok,i'll try again later and give you feedback

[2019-03-20 11:57] kekekeke4 commented on #62
i tried again,but that's not ok,the log is:
**go: finding github.com/kekekeke4/gomodtest v1.1.2
go: github.com/kekekeke4/gomodtest@v1.1.2: unexpected status (https://goproxy.io/github.com/kekekeke4/gomodtest/@v/v1.1.2.info): 500 Internal Server Error
go: error loading module requirements**

[2019-03-20 12:00] kekekeke4 commented on #62
this time , the log is 500 server error,  different from previous ones logs

[2019-03-20 14:21] oiooj commented on #62
@kekekeke4 Thanks for your example, fixed at last.

[2019-03-20 14:21] #62 closed

[2019-03-20 14:21] oiooj commented on #51
fixed

[2019-03-20 14:21] #51 closed

[2019-03-20 15:23] oiooj commented on #55
#61

[2019-03-20 15:23] #55 closed

[2019-03-21 11:36] kekekeke4 commented on #62
@oiooj tried again,It was already correct。

[2019-04-05 05:21] dreamlu commented on #56
when I use docker, it failed too,like this:
go: finding github.com/envoyproxy/go-control-plane/envoy/config/filter/network/tcp_proxy latest
go: finding golang.org/x/tools v0.0.0-20180221164845-07fd8470d635
go: golang.org/x/tools@v0.0.0-20180221164845-07fd8470d635: unexpected status (http://localhost:8081/golang.org/x/tools/@v/v0.0.0-20180221164845-07fd8470d635.info): 400 Bad Request
go: finding gi

[2019-04-12 13:44] mr-tron opened #63 "double brackets in build/generate.sh"
Ubuntu 16.04 (and i think few over old LTS distros) doesn\`t support double squre brackets `[[` instead of `[`.
I think it`s not so big script and supporting old systems is more important than better readability.

[2019-04-12 13:50] mr-tron opened #64 "can`t build on go1.12"
[code]

[2019-04-12 17:02] oiooj commented on #63
@mr-tron , Can you pull a request to fix it? Thanks.

[2019-04-13 02:38] #63 closed

[2019-04-16 15:21] huiyifyj opened #66 "Fetch package isn't latest version"
Recently, I try to fetch [`firebase-admin-go`](https://github.com/firebase/firebase-admin-go) dependency by `go get firebase.google.com/go`.
But it is previous version, not latest version.
[code]
Emm, its latest version `v3.7.0` has been released for 19 days.
Try to write '`firebase.google.com/go v3.7.0+incompatible`' in go.mod file, then `go mod download`, cloud not fetch other necessary packages

[2019-04-18 09:36] fitzix opened #67 "500 Internal Server Error when I execute go get gocloud.dev"

[2019-04-18 09:42] fitzix commented on #67
I made a mistake, sorry.

[2019-04-18 14:20] foolin opened #68 "go get -u is not latest version ,is bug?"
I create a repository github.com/foolin/goview, I made a mistake the repository is empty first, and i use the command:
[code]

Then, I push the code to github, but I can't update the new version for forever,  I clean the mod cache is sample problem:
[code]
It always stay this version:
[code]

How can I get the latest new version?

[2019-04-19 03:36] oiooj commented on #68
Oh, the server's DNS has some issue. Sorry about that. Now fixed, try it again.

[2019-04-19 03:37] oiooj commented on #67
The server's DNS has some issue. Sorry about that. Now fixed, try it again. @fitzix Thanks for your report.

[2019-04-19 03:37] #67 closed

[2019-04-19 03:44] oiooj commented on #66
The server's DNS has some issue. Sorry about that. Now fixed, try it again.

[2019-04-19 05:10] huiyifyj commented on #66
Fetch normally.
Thanks. 👍

[2019-04-19 05:10] #66 closed

[2019-04-19 07:12] #68 closed

[2019-04-25 09:26] rosbit opened #69 "cacheDir in docker-compose.yaml causes cache only in docker container."
if I attach the volume ./cacheDir to /ext as written in docker-compose.yaml, the logs show that goproxy will cache them under the path /go. So I edit docker-compose.yaml, change the line from "./cacheDir:/ext" to "./cacheDir:/go", goproxy write the files to the folder ./cacheDir.

[2019-04-26 02:14] oiooj commented on #69
@rosbit Thanks for your report, can you pull a request for this?

[2019-04-30 02:36] lluck42 opened #70 "国内还是不能用啊，有没有官方 china 的 goproxy.io"
国内还是不能用啊，有没有 china 的官方 goproxy.io 啊

[2019-04-30 08:38] oiooj commented on #70
@lluck42 Which ISP you use?

![image](https://user-images.githubusercontent.com/2253095/56949761-4c277000-6b66-11e9-9473-8ebc883fb54d.png)

[2019-05-05 07:09] lluck42 commented on #70
@oiooj ISP is China Unicom 中国联通

没找到国内官方的，只有一个类似的 gopm 可以用
i can't find a resource of goproxy.io in china,
but find the project gopm althought it's not a offical package manager.

[2019-05-05 15:22] gemark commented on #70
嗯... 感觉这个项目有些鸡肋。shadowsocket 后，墙又不是翻不了。翻的了，还要这个干啥呢？所以没明白这个项目的用途。

[2019-05-05 15:24] gemark commented on #70
哥们不是我大天朝的吗？为何问句是洋文？are u russia? but u in china now

[2019-05-05 15:38] oiooj commented on #70
Sorry about your confused.

[2019-05-05 15:38] #70 closed

[2019-05-07 08:06] weixiao-huang commented on #70
@gemark 你可以用这个来架设自己的 goproxy 而不一定用 goproxy.io

[2019-05-07 08:07] weixiao-huang commented on #64
first you need `go generate`

[2019-05-07 10:19] mr-tron commented on #64
thank you!

[2019-05-07 10:19] #64 closed

[2019-05-12 04:21] gemark commented on #70
谢谢。我去试试。

[2019-05-13 09:35] gonejack opened #71 "[bug] goproxy returning earliest version instead of latest"
go.mod
[code]
main.go
[code]

With command:
[code]
goproxy.io is returning the earliest version:
[code]

With command:
[code]
Everything is fine:
[code]

[2019-05-15 10:52] duramen commented on #56
go 1.11.4
go get failure
`D:\>go get -u -v go.etcd.io/etcd/clientv3
Fetching https://go.etcd.io/etcd/clientv3?go-get=1
https fetch failed: Get https://go.etcd.io/etcd/clientv3?go-get=1: proxyconnect tcp: dial tcp: lookup "https: no such host
package go.etcd.io/etcd/clientv3: unrecognized import path "go.etcd.io/etcd/clientv3" (https fetch: Get https://go.etcd.io/etcd/clientv3?go-get=1: proxyconnec

[2019-05-17 09:54] gojuukaze opened #72 "为什么新建了releases但list里的版本没更新？"
仓库之前没有创建releases，使用`https://goproxy.io/`代理拉了一次包，然后更新了代码创建了新的releases
用`get get -u`，无法自动获取最新版本，list里也没有版本信息。只能手动指定版本。
比如这个项目[https://goproxy.io/github.com/gojuukaze/go-watch-file/](https://goproxy.io/github.com/gojuukaze/go-watch-file/)

[2019-05-19 04:45] oiooj commented on #72
Fixed, Thanks for your report.

[code]

[2019-05-19 04:45] #72 closed

[2019-05-19 04:46] oiooj commented on #71
Fixed, Thanks for your report. #72

[2019-05-19 04:46] #71 closed

[2019-05-29 01:22] lluck42 commented on #70
苦逼的是目前国内没有组织搭建 goproxy 这个项目

[2019-05-31 01:35] Zereker commented on #41
这个需求还是很迫切的

[2019-06-12 08:26] bobower commented on #32
Hi, Have you deployed the goproxy program in Hong Kong?Has the reset problem been solved?

[2019-06-13 07:08] SatanDaddy commented on #41
urgent need~

[2019-06-21 04:58] yougg commented on #56
It always failed to go get latest golang sdk version via goproxy.io

[code]

[2019-06-25 09:01] weixiao-huang opened #73 "Cannot parse capital package"
I try to use goproxy however I find it cannot parse packages whose name contain capital letters

[code]

[2019-06-26 03:34] oiooj commented on #73
@weixiao-huang The author of logrus defined `github.com/sirupsen/logrus
 ` as the repo's module name, so you should use `github.com/sirupsen/logrus
 `, not `github.com/Sirupsen/logrus`

see: https://github.com/sirupsen/logrus/blob/master/go.mod#L1

[2019-06-28 03:10] blacksun1977 opened #74 "can i control the caching time ？"
i setup a private goproxy, when i release a new git tag and use it immediately , the goproxy give an "goproxy: unknown revision v1.1.0" message, but after long time or restart the goproxy, it becomes ok, so i ask :
how long of the caching time to obtain git tag info？
where can i to adjust the caching time ?

[2019-07-02 04:26] prologic commented on #41
Any updates on this feature request? Anyone working on it?

[2019-07-03 08:04] kuange commented on #41
持续关注!

[2019-07-03 08:54] prologic commented on #41
Translation?

[2019-07-03 09:02] kuange commented on #41
keep watching...

[2019-07-03 09:03] kuange commented on #41
@prologic
keep watching...

[2019-07-03 09:04] prologic commented on #41
Thanks :)

[2019-07-04 11:08] ISukhanov opened #75 "Can't recognize newly added repo tags"
I'm using local private goproxy with private repo (atlassian bitbucket)
repo A - comitted some code and added version tag v0.0.1
repo B - imported package from repo A and stated v0.0.1 in go.mod file
Added some code to repo A and tagged it with v0.0.2
changed go.mod file in repo B to follow version changes - changed to v0.0.2
GOPROXY can't get tag v0.0.2, console log:
2019/07/04 13:59:33 goproxy:

[2019-07-05 08:14] #74 closed

[2019-07-05 08:14] #75 closed

[2019-07-05 08:15] #73 closed

[2019-07-05 08:16] oiooj commented on #75
@ISukhanov  Could you help me to test this bug, I fixed it on master, feel free to reopen it.

[2019-07-05 08:16] oiooj commented on #74
Could you help me to test this bug, I fixed it on master, feel free to reopen it.
Thanks @blacksun1977

[2019-07-09 02:39] GoneGo1ng opened #78 "About pictures on the official website"
Taiwan is an inseparable part of the People's Republic of China.
Please mark the colours of Taiwan and the mainland as the same.
![image](https://user-images.githubusercontent.com/35555900/60855179-4cfb1300-a235-11e9-9c45-7b192038ffd2.png)

[2019-07-09 02:45] prologic commented on #78
I'm not sure the colors used are what you think they are.

it looks like from my perspective; there are more users using goproxy in Chine than any other part of the world. I take the darker shade meaning as "more users".

[2019-07-09 03:01] GoneGo1ng commented on #78
@prologic
Maybe I didn't express what I meant.
I know the darker shade meaning as "more users".
But I think you distinguish countries by colour.
So Taiwan and the mainland should not use different colours.

[2019-07-09 03:13] prologic commented on #78
I _think_ you've missed the point entirely.

It looks like the colours used here are different shades of blue.

The darker the shade of blue the more users.

This means currently that goproxy has more users in:

* America
* China

And only moderate users everywhere else and none in many parts of Africa (_as you'd expect at this stage of Global Internet usage_).

----

(_this should not even come u

[2019-07-09 03:22] GoneGo1ng commented on #78
@prologic
Thank you for your explanation and respect.
Maybe I'm too sensitive to this problem.

[2019-07-09 03:26] prologic commented on #78
Maybe... :) -- But we should left the authors of this project comment.

I could be entirely wrong! -- Was just sharing my perspective :)

[2019-07-10 08:47] fitzix opened #79 "Some libraries will always have unexpected end of JSON input errors"
Most of the vscode goalng extended dependencies will get this error, such as `github.com/mdempsky/gocode`, `golang.org/x/tools/cmd/guru`, `golang.org/x/tools/cmd/gopls`.

go: finding golang.org/x/tools/cmd/gopls latest
go: finding golang.org/x/tools/cmd latest
go: finding golang.org latest
go: finding golang.org/x/tools latest
go: finding golang.org/x latest
go get golang.org/x/tools/cmd/gopls: mo

[2019-07-10 10:18] oiooj commented on #79
@fitzix  What's your `GOPROXY` env ? Which commit version you use if you build by yourself?

[2019-07-10 10:21] fitzix commented on #79
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/fitz/Library/Caches/go-build"
GOENV="/Users/fitz/Library/Application Support/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GONOPROXY=""
GONOSUMDB=""
GOOS="darwin"
GOPATH="/Users/fitz/.go"
GOPRIVATE=""
GOPROXY="https://goproxy.io,direct"
GOROOT="/usr/local/go"
GOSUMDB="sum.golang.org"
GOTMPDIR=""
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd

[2019-07-10 10:34] fitzix commented on #79
It is weird, remove GOPROXY and  use the default `GOPROXY="https://proxy.golang.org,direct"`, no error.

get "golang.org/x/tools/cmd/gopls": found meta tag get.metaImport{Prefix:"golang.org/x/tools", VCS:"git", RepoRoot:"https://go.googlesource.com/tools"} at //golang.org/x/tools/cmd/gopls?go-get=1
get "golang.org/x/tools/cmd/gopls": verifying non-authoritative meta tag
go: finding golang.org/x/to

[2019-07-10 10:37] oiooj commented on #79
I can not reproduce you issue use goproxy.io , log:

[code]

[2019-07-10 10:50] oiooj commented on #41
If your Go version >= 1.13, the `GOPRIVATE` environment variable controls which modules the go command considers to be private (not available publicly) and should therefore not use the proxy or checksum database. For example:

[code]
And I believe this is more security.

[2019-07-10 11:14] fitzix commented on #79
This problem will only appear on 1.13，may be caused by some bugs in 1.13beta1.

[2019-07-10 11:20] oiooj commented on #79
Yes, I can reproduce with go1.13beta1

[code]

[2019-07-11 03:08] oiooj commented on #79
@fitzix I fixed this issue and deployed online, can you help me to confirm this bug is fixed?

[2019-07-11 03:31] fitzix commented on #79
Sure, I tested the dependency of the vscode go plugin, it works fine now, thank u.

[2019-07-11 09:36] dfang opened #82 "BUG: go run main.go failed because of .babelrc"
see details here https://github.com/golang/go/issues/33022

[2019-07-11 16:27] oiooj commented on #82
I can't reproduce your issue, log:

[code]
Can you show me a demo or case ? Thanks.

[2019-07-12 04:21] oiooj commented on #82
All data on the server are correct, let's continue in golang/go#33022

[2019-07-12 04:21] #82 closed

[2019-07-12 04:28] oiooj commented on #78
@GoneGo1ng

Fixed, thanks for your report.
![image](https://user-images.githubusercontent.com/2253095/61102476-86838680-a4a0-11e9-8f1e-9bc766dde955.png)

Please refresh or restart your browser.

[2019-07-12 04:28] #78 closed

[2019-07-12 07:28] notedit commented on #56
[code]

same here.

[2019-07-12 07:31] oiooj commented on #56
@notedit

Seems that you are not using goproxy server,
Pleasse run `export GOPROXY=https://goproxy.io` and try `go get golang.org/x/sys/unix`.

[2019-07-12 08:34] notedit commented on #56
@oiooj  Sorry,  my fault.  It works now.

Do this project have a donate link?   It really helps.

[2019-07-12 08:55] oiooj commented on #56
@notedit I'm very happy I can help you, we don't a have donate link yet. Just enjoy this service.

[2019-07-15 07:19] #79 closed

[2019-07-19 07:19] pihao opened #84 "the `internal` package is missing"
A lot of code depend the `internal` package. like:
[code]
But the `internal` package is missing in the goproxy project. and the `.gitignore` ignore `internal/`.
Got this when build:
[code]
So, How can we build goproxy?

[2019-07-19 07:21] pihao opened #85 "The `internal` package is missing"
A lot of code depend the `internal` package. like:
[code]
But the `internal` package is missing in the goproxy project. and the `.gitignore` ignore `internal/`.
Got this when build:
[code]
So, How can we build goproxy?

[2019-07-19 09:26] oiooj commented on #84
From the readme, you just need to run `make`.

[2019-07-19 09:27] oiooj commented on #85
dup of #84

[2019-07-19 09:27] #85 closed

[2019-07-19 09:31] #84 closed

[2019-07-22 07:25] xgfone opened #86 "Cannot get the new version of a package: parsing go.mod: missing module line"
When a certain package releases a new version, the proxy `https://goproxy.io` cannot handle it.

For example, `github.com/xgfone/gconf` releases a version `v3.4.0`, then get it right now
[code]

When I set `GOPROXY` to `https://gocenter.io`, however, it is ok.
[code]

[2019-07-22 07:29] snailchen commented on #70
团队开发的时候，这个当做私有仓库，类似于maven私有仓库，对于持续集成这种场景是非常有用的

[2019-07-22 11:01] abonec commented on #56
I have regular error like this:
[code]
It could be with a completely different package, private repo (like above), from github and so on. Seems that when goproxy first meet some error from repo hosting provider it cache error and always propagate this error to the users until goproxy restart. Restarting goproxy solve this problem for a while until the next error from repo hosting would be returned

[2019-07-22 12:06] oiooj commented on #56
@abonec It's a known issue, we can fix it in this week, thanks for your report.

[2019-07-22 13:42] oiooj commented on #86
Fixed, @xgfone Can you help me to confirm it is fixed now?

[2019-07-22 14:52] xgfone commented on #86
@oiooj No. I think you need to check and clean the bad caches in `$GOPATH/pkg/mod/cache/download` for the site `https://goproxy.io`.

[code]

So, the caches of `v3.3.0` and `v3.4.0` of `github.com/xgfone/gconf` in `$GOPATH/pkg/mod/cache/download` may be bad.

Not only `github.com/xgfone/gconf`, I guess, but there are also some other packages, the caches of which are bad.

[2019-07-22 15:27] oiooj commented on #86
@xgfone

goproxy.io uses sum.golang.org to keep user's downloads security, but your repo failed on this google service.

Google sumdb link: https://sum.golang.org/lookup/github.com/xgfone/gconf@v3.3.0+incompatible

[code]

But on my https://gosum.io , everything is OK, link: https://gosum.io/lookup/github.com/xgfone/gconf@v3.3.0+incompatible

[code]

So maybe this is a bug in sum.golang.org, and I

[2019-07-22 15:33] oiooj commented on #86
And you have a bad github.com/xgfone/gconf@v3.3.0+incompatible/go.mod , the checksum should be `v3VqEuUnjlVYVQxIhAobyFZ+8zEJWVEYfmNFaU8On6c=`

[2019-07-23 01:31] xgfone commented on #86
I deleted the old `go.sum`, then regenerated it, and it was ok.

tks.

[2019-07-23 01:31] #86 closed

[2019-07-25 08:20] #56 closed

[2019-07-25 09:53] daqingshu commented on #41
athens support

[2019-08-01 04:50] imneov commented on #41
Maybe we can use router mode to support private repo.

[code]

PR https://github.com/goproxyio/goproxy/pull/88

[2019-08-03 10:17] shanyujie opened #90 "the goproxy work wrong"
go get -u github.com/kataras/iris@master
go: finding github.com/kataras/iris master
go: finding github.com/kataras master
go: finding github.com master
go get github.com/kataras/iris@master: Get https://goproxy.io/github.com/kataras/iris/@v/master.info: x509: certificate has expired or is not yet valid
No matter what I install, the same problem will arise.

[2019-08-04 04:21] oiooj commented on #90
@shanyujie It seems that you got a [Man-in-the-MiddleAttack](https://baike.baidu.com/item/%E4%B8%AD%E9%97%B4%E4%BA%BA%E6%94%BB%E5%87%BB/1739730?fr=aladdin).

![image](https://user-images.githubusercontent.com/2253095/62419425-56e82880-b6b2-11e9-94f6-40ff5a72a0b5.png)

The cert is valid now.

[2019-08-04 04:35] shanyujie commented on #90
Thank you for your reply。Do you know how to solve this problem?
I'm very upset.I can't find a solution.I can only use goproxy. cn now.But it's too slow.

[2019-08-04 04:44] oiooj commented on #90
@shanyujie 检查下你报错机器的时间是否正确，如果不正确，同步下时间再试试。

你能执行下下面的命令，把结果贴出来么，我看下证书是对的么？

[code]

[2019-08-04 04:49] shanyujie commented on #90
[code]
谢谢大佬帮忙，这是结果
我是mac os 10.13.6
go version go1.12.7 darwin/amd64

[2019-08-04 04:57] oiooj commented on #90
证书确实被人劫持了，这个不是被信任的证书，有人想窥探隐私吧，正确的证书应该是

[code]

我这边能做的非常有限，你这是本地的劫持。

[2019-08-04 05:02] prologic commented on #90
😱 you really are getting MitM ?!
--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-08-04 05:05] shanyujie commented on #90
感谢你的帮助，我去问问其他人，goproxy.io真的很棒

[2019-08-04 05:06] oiooj commented on #90
@shanyujie It's very happy that we can help you.

[2019-08-04 05:06] #90 closed

[2019-08-04 05:50] oiooj opened #92 "Add tests for router mode"
Needs add tests for router mode.

[2019-08-04 06:04] oiooj opened #93 "Use path.Match instead of regexp"
The flag `exclude` in router mode should be  a comma-separated list of glob patterns (in the syntax of Go's path.Match) of module path prefixes.

For example,
	`*.corp.example.com,rsc.io/private`

---

Now, we use `regexp` in https://github.com/goproxyio/goproxy/blob/master/proxy/router.go#L47

We can use this func from Go:
https://github.com/golang/go/blob/82cf8bca9cf20297bc0edf481cc530c9b3f4bf1e

[2019-08-06 03:13] oiooj commented on #92
Fixed by #95

[2019-08-06 03:13] #92 closed

[2019-08-07 01:59] #93 closed

[2019-08-07 02:35] orestonce opened #98 "404 not found"
- docker build . -t goproxy
- docker run -d -p 8081:8081 goproxy
- Then I wrote a script to test :
[code]
- Script output:

Fetching http://127.0.0.1:8081/golang.org/x/mod/@v/v0.1.0.info
go: finding golang.org/x/crypto v0.0.0-20190701094942-4def268fd1a4
Fetching http://127.0.0.1:8081/golang.org/x/crypto/@v/v0.0.0-20190701094942-4def268fd1a4.info
go: golang.org/x/crypto@v0.0.0-20190701094942-4def26

[2019-08-07 02:42] oiooj commented on #98
@orestonce Can you access golang.org/x/* ?

Can you try this:

[code]

[2019-08-07 02:50] orestonce commented on #98
@oiooj  Yes . I can access golang.org/x/*
* I tried the above but the problem remains.
[code]

[2019-08-07 03:42] imneov commented on #93
nice!

[2019-08-07 06:13] imneov commented on #98
The 404 error will cause:
1. go version < 1.12 or GO111MODULE is not ON
2. run goproxy  not in a go modules director.

[2019-08-07 06:16] imneov commented on #98
Maybe we can add same check on starting.   @oiooj

[2019-08-07 06:26] oiooj commented on #98
@imneov Yes, We should.

[2019-08-07 06:49] nonetheless opened #100 "Why my github golang can't find in goproxy.io"
I can't find my code in https://goproxy.io/github.com/nonetheless/docker-registry-client/@v/; So when I use GOPROXY="https://goproxy.io" go get -v github.com/nonetheless/docker-registry-client; I get nothing.

[2019-08-07 07:06] oiooj commented on #100
You have a new tag `v1.1.0`.

You should use `go get -v github.com/nonetheless/docker-registry-client@latest`

[2019-08-09 02:45] chinglinwen commented on #53
I'd expect that the client don't need contact any other server, expect proxy server( inside great wall ), so no need to touch github.com, golang.org, google.com.

[2019-08-10 03:25] #100 closed

[2019-08-13 08:41] zjylx opened #102 "Set export GOPROXY=https://goproxy.io doesn't work ."
I build my own proxy can work well.
and i want to know if the https://goproxy.io is a public proxy service?
Because `export GOPROXY=https://goproxy.io`  doesn't work for me.

[2019-08-13 12:03] oiooj commented on #102
@zjylx Can you show me some error logs, or anything you got?

[2019-08-14 09:04] zjylx commented on #102
I found this issue appear in the situation that can't ping goproxy.io

[2019-08-14 10:04] oiooj commented on #102
@zjylx Thanks for your report, but Now this site is OK. You can use this tool: https://tools.ipip.net/newping.php

![image](https://user-images.githubusercontent.com/2253095/63013020-e1ecce00-bebd-11e9-90b7-d12389c0c4d7.png)

Feel free to reopen it if you have any questions.

[2019-08-14 10:04] #102 closed

[2019-08-15 20:05] fancy-rabbit commented on #69
seems fix by #103

[2019-08-16 02:40] oiooj commented on #69
Thanks

[2019-08-16 02:40] #69 closed

[2019-08-22 03:55] bluedragonflyliu opened #105 "项目中的docker文件和https://goproxy.io是什么关系"
项目中的docker文件和https://goproxy.io是什么关系 设置了环境变量后还用启动docker goproxy/goproxy吗，如果必须端口能换成别的吗还是只能用80端口

[2019-08-22 06:37] oiooj commented on #105
@bluedragonflyliu 设置了环境变量后就直接可以用了，这个项目主要是让大家可以搭建属于自己的 goproxy.io。

[2019-08-23 12:34] bluedragonflyliu commented on #105
谢谢

[2019-08-23 12:34] #105 closed

[2019-08-28 03:57] psy-core opened #106 "slice bounds out of range panic when request root url"
I run the goproxy with docker:
[code]

when I request the below url:
[code]
It return error:
[code]

`docker logs` found that:
[code]

[2019-08-28 04:13] psy-core commented on #41
@imneov  how to configure username and password for private repo if i use router mode?

[2019-08-28 13:24] jsign opened #107 "zip: not a valid zip file"
Using the current `latest` docker image `goproxy/goproxy`, I eventually reached the following situation in a CI pipeline with many dependencies.

Problem:
[code]

I jumped into the container to `unzip -t` the `.zip` file with result:
[code]
I manually deleted the `.zip` file, `go get` it again with success. I saved the problematic `.zip` if may be useful.

The docker run instance wasn't using `-v`

[2019-08-30 00:26] #106 closed

[2019-09-03 02:46] lichunqiang opened #109 "go get failed"
I had found some issues, but not work for me.

ENV (MacOS):

[code]
The command:
[code]
Output:

[code]

[2019-09-03 02:52] Momo733 commented on #41
My Go version is  go1.13rc2 linux/amd64, set go env as you like,and use router mode to exclude my private repo,but goproxy doesn't work.

[code]
thx again.

[2019-09-03 07:45] oiooj commented on #109
@lichunqiang Thanks for your report, but I can't reproduce your issue:

[code]

Can your print the result of  `go env`, Thanks.

[2019-09-03 07:51] oiooj commented on #41
@Momo733 Your seeting `-exclude "gitlab.private.com/private/private-base"` works.

But your git server return 404.  It seems that you don't have permission to fetch `gitlab.private.com/private/private-base` on `node2`.

[2019-09-03 08:41] lichunqiang commented on #109
@oiooj
[code]

[2019-09-03 08:43] Momo733 commented on #41
@hxzhao527 @oiooj  Thx,I think the reason is my private repo which isn't used TLS.

And I used another  solution by setting  GOPRIVATE env to exclude my private repo,goproxy is only for public packages.I think it's a good solution for me.What I need to wait for is Go1.13 released.

I hope my experience will be helpful to this discussion.

[2019-09-03 09:22] oiooj commented on #109
@lichunqiang Can you update your Go to `1.12.9`, and try it again ? It's wired.

[2019-09-03 09:45] lichunqiang commented on #109
@oiooj

After upgrade to `Go 1.12.9` , it works.

[2019-09-03 09:45] #109 closed

[2019-09-04 00:15] oiooj commented on #41
Go 1.13 released.

[2019-09-04 00:15] #41 closed

[2019-09-04 15:46] bastjan opened #110 "proxy/router: does not respect proxy environment variables"
In  an environment where an http proxy is required downloads in proxy mode fail.
Downloads in direct mode work since go respects the default environment variables (`HTTP_PROXY`, `HTTPS_PROXY` and `NO_PROXY`).

Output with proxy:
[code]

Output without proxy:
[code]

[2019-09-04 17:27] #110 closed

[2019-09-05 09:17] ikerlin commented on #107
we have this error too

golang: 1.13

[2019-09-10 09:49] formych commented on #48
Because this rep has been moved!
https://github.com/asim/go-api  => https://github.com/micro/go-micro/

[2019-09-16 08:54] Momo733 commented on #107
I found a similar problem about the lastest docker image goproxy/goproxy .Goproxy can't  resolve ``.`` Files or directories.
[code]
And,I found ``hub.docker.com`` image is using  different port from github Dcoekrfile.

[2019-09-16 09:29] Momo733 commented on #107
Sorry,It looks like a go module problem.

[2019-09-20 08:24] #107 closed

[2019-09-25 13:55] 644262163 opened #120 "unexpected status xxx 410 Gone"
## go version
[code]
## ```go get sigs.k8s.io/kubebuilder@v2.0.1``` error
[code]
[code]
## When I replace ```export GOPROXY=https://goproxy.io``` to ```export GOPROXY=``` it is no problem
[code]

[2019-09-26 06:43] oiooj commented on #120
@644262163 Thaks for your report, but I think this is right, if you use official proxy `proxy.golang.org`, you also got an error like this:

[code]

So if we update our package version >= 2.0.0 , we need use `sigs.k8s.io/kubebuilder/v2` as their import path. The `k8s` developers need to fix this.

[2019-09-26 06:45] oiooj commented on #120
if you update your Go version >= 1.13 , you also got this error on local. Just have a try.

[2019-10-02 03:36] 644262163 commented on #120
You're right. This repo has a bug. https://github.com/kubernetes-sigs/kubebuilder/issues/1042#issuecomment-536804621

[2019-10-11 09:20] nnsgmsone opened #122 "malformed record data"
## go version
[code]
## go.mod
[code]
## go mod tidy
[code]

## when i unset GOPROXY, it's ok
[code]

[2019-10-12 02:41] oiooj commented on #122
@nnsgmsone Have you force pushed your commit ? Did you retaged your v1.0.0 ?

I cleaned old data and it will work now, but you should not force push a `v1.0.0` , maybe you can use `v1.0.1`.

[2019-10-15 07:26] nnsgmsone commented on #122
@oiooj  the master branch is merged from the 1.0 branch，Is it because of this reason?

[2019-10-15 07:37] nnsgmsone commented on #122
@oiooj  I added a tag v1.0.1 and it works now. May be a cache issue?

[2019-10-16 07:29] oiooj commented on #122
It‘s not a cache issue, Maybe  you should fix on your master branch or dev branch, and cherry pick the change into your v1 branch.

[2019-10-16 07:29] #122 closed

[2019-10-23 12:53] logrusorgru commented on #98
Hm, got the same. Currently, I'm using it with
[code]
And, seems, it works.

[2019-10-28 13:10] WisperDin opened #124 "go get private repo via goproxy failed"
## environment
go version go1.13.3 darwin/amd64

## my goproxy configure:

[code]

## when I run command in local
` GOPROXY=http://127.0.0.1:8081 go get -u -v  xxx.company.com/golang/xxxx`

I get response:
` reading http://127.0.0.1:8081/xxx.company.com/golang/xxxx/@v/list: 404 Not Found`

and I access the url get:
[code]

and I run the command in local: `go list -m -json -versions ... ` , it perf

[2019-11-07 01:29] #124 closed

[2019-11-07 01:30] oiooj commented on #124
I try to fix this on master branch , @WisperDin Can you help me confirm this issue fixed? Thanks.

[2019-11-21 16:15] dlhf commented on #98
dubbo-go can't download

[2019-11-22 02:04] oiooj commented on #98
[code]

[code]

[code]

@dlhf Can you send me more detail? What's your `go env` log? And your error log of `go get -v github.com/apache/dubbo-go` .

[2019-11-23 13:15] dlhf commented on #98
only set GOPROXY="https://goproxy.io"

[2019-11-25 21:18] tie opened #127 "Use of internal package."
The copy of robustio/renameio packages imports internal API, which is missing in this module.

[code]

https://github.com/goproxyio/goproxy/blob/9a7bb4c0c90f2c4a2a5c8855ad4cea40397f0107/robustio/robustio_windows.go#L7-L15

[2019-11-27 08:45] Aazhar opened #129 "sum.golang.org: go get golint ends with 410 Gone"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.3 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/build/.cache/go-build"
G

[2019-11-27 10:02] hulucc commented on #129
Same here.
curl https://goproxy.io/sumdb/gosum.io/lookup/github.com/digits/graphql-go@v0.0.2 => 410 Gone
curl https://gosum.io/lookup/github.com/digits/graphql-go@v0.0.2 => 200

[2019-11-27 12:03] oiooj commented on #129
@Aazhar @hulucc Fixed online , Thanks for your report.

[2019-11-27 12:03] #129 closed

[2019-11-27 12:07] oiooj commented on #127
@tie You can use `pr-win-dep` branch to build, have a try.

[2019-11-27 15:45] tie commented on #127
Thanks, now builds with `GOOS=windows`. Though there still could some cases where it’s likely to fail at runtime, e.g. `filepath.Join` calls with unix-style slash paths in `main.go` and `router.go`.

[2019-11-28 11:39] oiooj commented on #127
@tie Now you can pull the latest code from branch `pr-win-dep`:
 I tested on a win 10:

server:
[code]

user:
[code]

[2019-12-04 01:29] #127 closed

[2020-01-10 09:45] triThirty commented on #28
When I tried to install cobra, `go get -u github.com/spf13/cobra/cobra`
I got `go get: upgrading github.com/coreos/go-systemd@v0.0.0-20190321100706-95778dfbb74e: unexpected status (https://goproxy.io/github.com/coreos/go-systemd/@v/list): 404 Not Found` message.
I had already use the master branch goproxy, but it didn't work.
My go version 1.12.7.

[2020-01-11 08:10] triThirty opened #131 "When install cobra I get 404 not found"
When I tried to install cobra, `go get -u github.com/spf13/cobra/cobra`
I got `go get: upgrading github.com/coreos/go-systemd@v0.0.0-20190321100706-95778dfbb74e: unexpected status (https://goproxy.io/github.com/coreos/go-systemd/@v/list): 404 Not Found` message.
I had already use the master branch goproxy, but it didn't work.
My go version 1.12.7.

[2020-01-12 11:56] oiooj commented on #131
@triThirty Please try to use `github.com/coreos/go-systemd/v22` ， because

[code]

[2020-01-13 08:34] mojocn opened #132 "Why change base64Captcha to base%21captcha"
[code]

[2020-01-13 08:37] mojocn commented on #120
##  SAME ERROR and changed my repo name
[code]

[2020-01-13 09:08] oiooj commented on #132
@mojocn  golang did it. The Go cmd not use uppercase in import path, so Azure will be !azure.

To fix you issue, change the import to v2 in go.mod :

[code]

After that release a new release called v2.0.7.

run `go get github.com/mojocn/base64Captcha/v2@v2.0.7` will success.

[2020-01-13 09:14] #132 closed

[2020-02-12 07:26] navono commented on #98
got the same.

[code]

![goproxy](https://user-images.githubusercontent.com/3746639/74312100-f39b2980-4dab-11ea-8a27-20d432da2da9.PNG)

[2020-02-12 09:08] navono commented on #98
Build binary with
[code]
in Win10, then run it, it works.

[2020-02-12 09:29] navono commented on #98
About the sumDB error, just set `GOSUBDB` to `off`.

[2020-02-17 06:26] oiooj commented on #98
@navono Thanks your feedback, and #134 fixed this issue.

[2020-03-02 05:05] oiooj opened #137 "stream error: stream ID 637; INTERNAL_ERROR"
Some users report this issue：
[code]

See: https://github.com/golang/go/issues/22235

[2020-03-02 09:31] gonboy opened #138 "use of internal package internal/syscall/windows not allowed"
**build to LinuxX64 OK.**

---

**but**
system: Win10
go: V1.13
build version:  V2.0.1，build to Winx64

**error:**
[code]

[2020-03-02 10:53] oiooj commented on #138
@gonboy This issue already fixed by #127 ， update your codebase use `git pull origin master` and rebuilt it.

Or you could use https://github.com/goproxyio/goproxy/releases/tag/v2.0.2 release

[2020-03-02 11:30] gonboy opened #139 "get 404 error"
**the server is Ok.
Linux  X64, Ver v2.0.2**

---

run error:
[code]

[2020-03-02 11:50] oiooj commented on #139
@gonboy Can you run
[code]
and show me the result.

[2020-03-02 11:51] #138 closed

[2020-03-03 09:27] PearceDuan opened #140 "proxyconnect tcp: EOF"
go version: `go version go1.13.4 linux/amd64`
go env:
[code]

when i do some go get, for example: `go get github.com/sirupsen/logrus`, some error below:
[code]

help please...

[2020-03-03 10:12] oiooj commented on #140
@PearceDuan This seems that your `https proxy` issue. Can you reset your  `https_proxy` environment and try it again.

[code]

[2020-03-03 10:55] PearceDuan commented on #140
yes! it work now. much thanks!

[2020-03-03 10:55] #140 closed

[2020-03-10 03:50] aixiaoxiang opened #141 "由于企业安全需要，无法访问外网，有什么方式突破"
由于企业安全需要，无法访问外网，有什么方式可以获取 goproxy.io 上面的全部镜像资源，就是相当于在企业内部部署一个 goproxy.io，并还哈有大量已经缓存的 go 开源库。比如定期同步  goproxy.io 的资源。

[2020-03-10 11:24] oiooj commented on #141
@aixiaoxiang  无法访问外网，用什么方法定期同步呢

[2020-03-11 02:33] eryajf opened #142 "关于无法从内网Gitlab拉包的问题"
在说明文档中关于从内部拉包的说明为如下启动方式：

[code]

从这里看起来，外部的包走 `https://goproxy.io`，内部的包走 `git.corp.example.com`，这似乎没什么问题。

但实际使用场景中，内部的包在gitlab中一般都为私有包，未经授权无法访问的，而goproxy貌似没有给出这种认证的参数，也就无法从内部拉包了。不知道是不是我的使用方式哪里有问题。

[2020-03-11 03:40] oiooj commented on #142
@eryajf 这个是底层 git 认证的配置问题，可以把你 goproxy server 上的 key 放到内部 gitlab 的deploy key 中，可以参考这篇文章下方的评论：https://gocn.vip/topics/9831

[2020-03-11 06:42] eryajf commented on #142
这个key已经添加，现在我可以直接 `git clone` 将对应代码下载下来，但是通过go项目去拉取的时候，finding之后，就一直卡在那里，排除网络不通，排除key的认证，不知道是否还有其他因素影响呢！

[2020-03-11 12:09] aixiaoxiang opened #143 "@aixiaoxiang 无法访问外网，用什么方法定期同步呢"
@aixiaoxiang  无法访问外网，用什么方法定期同步呢

_Originally posted by @oiooj in https://github.com/goproxyio/goproxy/issues/141#issuecomment-597035823_

有定制的虚拟桌面，通过这个可以上网，只能从虚拟桌面拷贝文件到开发机器，无法反过来。也就是开发机器本身是完全于外界隔离的。

[2020-03-11 12:09] #143 closed

[2020-03-11 12:10] aixiaoxiang commented on #143
这个写错了，删除吧

[2020-03-11 12:11] aixiaoxiang commented on #141
有定制的虚拟桌面，通过这个可以上网，只能从虚拟桌面拷贝文件到开发机器，无法反过来。也就是开发机器本身是完全于外界隔离的

[2020-03-12 01:27] oiooj commented on #142
@eryajf 私有库的支持你可以先试试 https://user.goproxy.io，这个功能稳定了，后面可以考虑开源出来提供给企业自己使用。

[2020-03-12 01:29] oiooj commented on #141
@aixiaoxiang 您方便提供一下联系方式么，我私下联系您讨论下。或者直接发我邮件 admin@goproxy.io

[2020-03-12 11:35] Dereking opened #145 "http 302 StatusCode"
I run a local goproxy at my server: goproxy -proxy=https://goproxy.io .

I created a golang test project, and set $GOPROXY=mygoproxyweb, sine I run go build , I encountered a 302 redirect response from my goproxy:
Location https://goproxy.someimg.com/github.com/gin-gonic/gin/@v/v1.5.0.zip
It's very strange, I didn't find any string "someimg.com" in the goproxy code.

Is it a feature of product env

[2020-03-12 11:53] RainbowMango commented on #141
我对这个问题感兴趣。

既然开发机跟虚拟机网络是通的，在虚拟机上布个代理不行么？

[2020-03-12 12:46] eryajf commented on #142
感谢回复，看了配置的文档，感觉目前情况下，我这边恐怕不太方便以这种方式进行配置（公司安全方面对这种外部介入还是比较敏感的）。不知道你说的后续开源出来的形式会是怎样的一种配置，期待提供一种像现在这样配置简单，且行之有效的方案。目前我们这边内部的包可能还要走 athens 来拉取。再次感谢！

[2020-03-13 00:38] cuisongliu opened #146 "我的私有仓库在组织里面"
如题，我的私有仓库在组织里该如何操作？自动auth登录的是个人账户

[2020-03-13 00:44] #146 closed

[2020-03-13 01:54] oiooj commented on #145
Location https://goproxy.someimg.com/github.com/gin-gonic/gin/@v/v1.5.0.zip
It's very strange, I didn't find any string "someimg.com" in the goproxy code.

Yes ,  `someimg.com` is our CDN domain, it's a new feature, we speed up developer's download all over the world via this domain. Now only zip packages will redirect to this domain.

[2020-03-13 01:55] #142 closed

[2020-03-14 04:43] Dereking commented on #145
Thanks for you reply.
Could you add an option to this project, let my local goproxy server can handle the zip rediect in server? Because I can't proxy all URL except goproxy.io.
For somebody who use goproxy in intralnet like me, please.
If the reuest is not acceptable, take it seay, I preciate your good job at this project.

[2020-03-16 00:35] #145 closed

[2020-03-31 14:27] #137 closed

[2020-04-11 03:28] readthecodes opened #148 "使用goproxy代理后，下载的一直是旧版本的代码"
代码库地址：
https://github.com/micro/go-plugins

使用代理后无法拉最新代码，提示：https://goproxy.io/github.com/micro/go-plugins/@v/v2.0.0.info: 404 Not Found

[2020-04-11 08:15] oiooj commented on #148
@readthecodes v2 需要使用这样的地址： `github.com/micro/go-plugins/v2`

比如下面这个：

https://goproxy.io/github.com/micro/go-plugins/v2/@v/v2.0.0.info

[2020-04-16 02:28] #148 closed

[2020-04-16 02:28] #139 closed

[2020-04-16 02:30] oiooj commented on #120
The k8s fixed this issue, close now.

[2020-04-16 02:30] #120 closed

[2020-05-29 02:37] eryajf commented on #41
这应该并不是一个完美的解决方案吧，这样设置之后，所有编译场景中，需要拉取gitlab内部包的时候，都需要经过认证之后才行，不算优雅。我们还是应该回归到将从内部gitlab拉包的任务交给proxy来完成才合适吧，这样只需要proxy对gitlab的项目有认证就可以了。

[2020-05-29 02:42] oiooj commented on #41
@eryajf This feature is already done, you can try https://user.goproxy.io and the doc: https://goproxy.io/docs/goproxyio-private.html

Feel free to open an issue if you meet any bug.

[2020-06-16 03:14] must11 opened #150 "go.etcd.io/etcd/clientv3 错误"
go.etcd.io/etcd/clientv3 这个包拉取的还是旧版本的依赖，可以更新到最新的吗

[2020-06-17 10:00] oiooj commented on #150
是的， 这个应该是个 v3 的子包，我们可以看到整个仓库的 v3 的版本列表:

https://goproxy.io/go.etcd.io/etcd/v3/@v/list
[code]

但是， 这样的 go.etcd.io/etcd/clientv3 的子包却不好获取，这个情况比较复杂：
1. etcd 开发者没有在 go.etcd.io/etcd/clientv3 下声明自己的 go.mod
2. 新建 go.etcd.io/etcd/v3 目录，将 clientv3 放置于 v3 目录下。

上面两个情况都可以解决这个问题。目前就连 google 的服务器也无法获取的：https://proxy.golang.org/go.etcd.io/etcd/clientv3/@v/list

[2020-06-22 05:56] #150 closed

[2020-06-23 13:52] #141 closed

[2020-06-24 02:25] lyb-Q opened #151 "The agent cannot meet expectations"
![Image of Yaktocat](https://s1.ax1x.com/2020/06/24/NaDxKA.png)

[code]

[2020-06-24 02:43] lyb-Q commented on #151
should be only ```google.golang.org/protobuf/...``` has not been downloaded,

[2020-06-24 03:31] hxzhao527 commented on #151
老哥, 你本地能直连 `google.golang.org`吗? 超时是因为网络原因, 请在国外机器部署试试.

Can you access `google.golang.org` directly? Some network problems result in *Timeout*. Try deploy proxy outside the Wall.

[2020-06-24 06:08] oiooj commented on #151
@lyb-Q Try this:
[code]

[2020-06-26 13:12] lyb-Q commented on #151
@hxzhao527 @oiooj 使用代理只有```google.golang.org/protobuf/...```这个包没有下载下来，我不清楚是什么原因，
我用其他方式替代了
```git clone https://e.coding.net/robinqiwei/googleprotobuf.git $GOPATH/src/google.golang.org/protobuf/...```

Using the agent only ''google.golang.org/protobuf/...' this package has not been downloaded down, I don't know why,
I've replaced it in some other way.
```git clone https://e.coding.net/robinqiwei/g

[2020-06-28 09:38] oiooj commented on #151
@lyb-Q I also met the same problem, because "google" in the URL, so we can not access this data, please use HTTPS, and this issue will be fixed.

[2020-07-14 01:31] lighteness opened #152 "fail to cache zip due to 302 http reponse code from upstream repo"
**Issue Description**
under the **cacheDir**, i only got the metadata files **list**, **mod** and **info** for each specific module , instead of any zip file.

**Root Cause**
In the source code, goproxy only allows caching it when the http response code is 200

below is the snippet of the goproxy logs
[code]

[2020-07-15 02:15] #151 closed

[2020-08-12 01:53] chen2gu opened #154 "go 1.15 同步"
go 1.15 2020 08 11 已发布，请同步

[2020-08-12 07:08] #154 closed

[2020-08-27 01:37] mumuhhh opened #155 "The zip file is a text file when the HTTP response code is 302"
for example

[2020-08-27 01:38] mumuhhh commented on #155
github.com/go-sql-driver/mysql/@v/v1.5.0.zip

<a href="https://goproxy.onetool.net/github.com/go-sql-driver/mysql/@v/v1.5.0.zip">Found</a>.

[2020-08-27 01:39] mumuhhh commented on #155
github.com/go-sql-driver/mysql/@v/v1.5.0.zip

[2020-08-31 00:05] hxzhao527 commented on #155
what is cmd? `go get github.com/go-sql-driver/mysql`?

or you access the zip file directly?

[2020-08-31 00:43] mumuhhh commented on #155
`https://goproxy.io/github.com/go-sql-driver/mysql/@v/v1.5.0.zip` redirection to `https://goproxy.onetool.net/github.com/go-sql-driver/mysql/@v/v1.5.0.zip` causes the cache zip content to be `<a href="https://goproxy.onetool.net/github.com/go-sql-driver/mysql/@v/v1.5.0.zip">Found</a>.`. The zip file is a text file

[2020-08-31 00:50] mumuhhh commented on #155
It's caused by site redirection，goproxy service download cache file is an invalid zip file

[2020-08-31 02:13] hxzhao527 commented on #155
<img width="473" alt="图片" src="https://user-images.githubusercontent.com/8402502/91676464-75994700-eb72-11ea-9855-aeaf6dcb5c48.png">

<img width="382" alt="图片" src="https://user-images.githubusercontent.com/8402502/91676483-877aea00-eb72-11ea-9356-a36df008825f.png">

[2020-08-31 02:17] mumuhhh commented on #155
sorry
I'm talking about files cached by the goproxy service

[2020-08-31 02:21] mumuhhh commented on #155
![1598840320(1)](https://user-images.githubusercontent.com/14306508/91676745-6961b980-eb73-11ea-89c9-c1d3825e0fac.png)
The cache file is invalid zip, when proxy use `https://goproxy.io/`

[2020-08-31 02:54] oiooj commented on #155
@mumuhhh Yes, maybe this is a bug introduced by #153, thanks.

[2020-08-31 03:06] #155 closed

[2020-08-31 03:08] oiooj commented on #155
@mumuhhh We fixed this issue at master branch, please pull the latest code and rebuild it. we should add more tests for this.
Thanks again.

[2020-08-31 06:59] #152 closed

[2020-10-06 01:08] aletheia7 opened #159 "go get picks incorrect version"
Running ```go get github.com/goproxyio/goproxy``` parses the wrong version number and produces the following error:
[code]
For some reason go get thinks the latest version is v1.0.0.

Running ```go get  github.com/goproxyio/goproxy@master``` produces the following error:
[code]

go version: 1.15.2

[2020-10-13 04:05] oiooj commented on #159
@aletheia7 Please use:

[code]

This declared in `go.mod` file.

[2020-10-14 20:28] aletheia7 commented on #159
Disregards. https://blog.golang.org/v2-go-modules requires adding the /v2.

[2020-10-14 20:48] aletheia7 commented on #159
go list -versions cannot find v2+ by default. This is not an issue with goproxy.

[2020-10-14 20:48] #159 closed

[2020-10-24 15:56] advancedwebdeveloper opened #160 "Providing long-term support for gollvm"
Hi.
Your project successfully compiles with [gollvm ](https://go.googlesource.com/gollvm/) (Go 1.15.2 - I am currently working on re-building the bleeding edge version of gollvm, to target Go 1.15.3) .

You could update your README and mark the project as the one which could be built with gollvm.

[2020-11-06 09:01] hwdef opened #161 "Some questions about operations"
How does goproxy.io's server operate? I can't find any information about it, is it Tencent? What is the funding source for the server? Need a donation?

[2020-11-10 16:34] oiooj commented on #161
HI @hwdef, The goproxy.io service run by [Golang China Contributor Club](https://golangcn.org). Tencent Cloud is one main of our sponsors, but the sponsorship will end soon. We are always looking for new sponsors.

[2020-11-17 00:07] na4ma4 opened #162 "Zombie git-remote-http processes when attempting to access private repositories"
Testing this takes a bit of setup.

In one terminal:
[code]

In a second terminal:
[code]

In a third terminal:
[code]

The first terminal starts the goproxy, and doesn't really need to be interactive, but it means you can be sure it was hit by the request.

The second terminal just makes a docker container with golang, creates a dummy project and tries to `go get` a private repository.

The third

[2020-11-17 01:47] #162 closed

[2020-11-22 06:52] hongyi-zhao opened #164 "verifying github.com/Dreamacro/go-shadowsocks2@v0.1.6/go.mod: checksum mismatch"
On Ubuntu 20.04, I try to build [clash](https://github.com/Dreamacro/clash) git master version with the git master version of golang through goproxy.io, but failed. See following for more info:

[code]

But goproxy.cn doesn't have this problem as shown below:

[code]

[2020-11-24 06:48] oiooj commented on #164
@hongyi-zhao

https://goproxy.io/sumdb/sum.golang.org/lookup/github.com/!dreamacro/go-shadowsocks2@v0.1.6

[code]

The hash of `github.com/Dreamacro/go-shadowsocks2 v0.1.6/go.mod` is right.

[2020-11-24 06:49] oiooj commented on #164
which `sumdb` you are using? Could you print your  `go env` in this issue?

[2020-11-24 13:38] hongyi-zhao commented on #164
[code]

I haven't done anything to it.

[2020-11-24 14:36] oiooj commented on #164
@hongyi-zhao Yes, I think the author of `github.com/Dreamacro/go-shadowsocks2` retagged v0.1.6, and the funny thing is goproxy.io's cached version is right, and goproxy.cn's data is not right.

From origin version v0.1.6 https://github.com/Dreamacro/go-shadowsocks2/commit/572f8fb8dea451e94a71888b1d07442fa44db14f :
[code]

and goproxy.io's version is right (https://goproxy.io/github.com/%21dreamacr

[2020-11-24 15:08] oiooj commented on #164
@hongyi-zhao I updated the cached data to the old version (before retagged), and you can try it again.

[2020-11-24 15:13] hongyi-zhao commented on #164
Still have the same problem:
[code]

[2020-11-24 15:15] oiooj commented on #164
@hongyi-zhao Thanks for you report, wait for the author release a new version to fix this.

[2020-11-24 15:15] #164 closed

[2020-12-09 05:17] xuan200922702 opened #165 "go mod vendor 一直报这个错，需要反复执行才能拉全"
![image](https://user-images.githubusercontent.com/32674956/101588023-6737b280-3a20-11eb-9a4b-e0049ecf26ea.png)

[2020-12-13 07:26] oiooj commented on #165
@xuan200922702 看起来像是你本地权限的问题，试试  `sudo go mod vendor`

[2020-12-14 06:46] #165 closed

[2021-02-14 14:59] roberChen opened #166 "go install stopped after 10 redirects"
Few days ago, when I was trying to run ```go install``` , ```go get``` or  ```go mod tidy```, it may occurs ```stopped after 10 redirects``` errors, given an example:
[code]

Error fixed after I switched GOPROXY to goproxy.cn, and note that this error also occurs when GOPROXY is setted to proxy.golang.com.cn

NOTE I'm in China, and won't fix this error by going abroad

[2021-02-15 01:24] jiyeyuran commented on #166
I have the same issue

[2021-02-15 17:40] jverce commented on #166
Happens outside of China as well (I'm in Canada).

Some examples:
[code]

[2021-02-17 03:04] oiooj commented on #166
Thanks for report this issue, fixed, please confirm.

[2021-02-17 04:45] roberChen commented on #166
Problem seems fixed, close this issue

[2021-02-17 04:45] #166 closed

[2021-02-17 04:46] roberChen commented on #166
Problem seems fixed, close this issue

[2021-02-17 04:46] roberChen commented on #166
Problem seems fixed, close this issue

[2021-02-27 01:50] fcddk commented on #98
go.mod:12: require github.com/prometheus/prometheus: reading https://goproxy.io/github.com/prometheus/prometheus/@v/v2.25.0.info: 404 Not Found
	server response: not found: github.com/prometheus/prometheus@v2.25.0: invalid version: module contains a go.mod file, so major version must be compatible: should be v0 or v1, not v2

[2021-02-27 01:53] fcddk commented on #98
How to solve this problem?

[2021-03-03 02:01] oiooj commented on #98
@fcddk The `github.com/prometheus/prometheus` import path should be upgrade to v2, and then we can use ``github.com/prometheus/prometheus/v2` as our import path in our program.

`github.com/prometheus/prometheus` used by v0 and v1, so it can not found v2 tags.

[2021-03-04 01:56] #161 closed

[2021-03-04 01:57] oiooj commented on #160
@advancedwebdeveloper Can you help to push a PR for that?

[2021-03-04 01:59] #131 closed

[2021-03-04 02:58] #48 closed

[2021-03-04 12:46] advancedwebdeveloper commented on #160
How could I do that?

[2021-04-14 13:34] stanxing opened #176 "internal reverse proxy does not rewrite correct content-Length header after decompressing body with gzip"
Here is [code link](https://github.com/goproxyio/goproxy/blob/master/proxy/router.go#L67):

[code]

`r.Body = ioutil.NopCloser(bytes.NewReader(buf))` reload the decompressed data into `r.Body`，causing the content-Length changed. I debugged and found that go server returned `AbortHandlerError` and client  reported `EOF` error.

Maybe it is a solution to rewrite content-length header.

[code]

[2021-04-15 03:34] oiooj commented on #176
@stanxing Could you help send a Pull Request?

[2021-04-15 03:55] stanxing commented on #176
Sure, I am glad to contribute it.

[2021-04-15 06:08] stanxing commented on #176
@oiooj #177 finished 👀

[2021-04-15 06:17] oiooj commented on #176
Thanks @stanxing

[2021-04-15 06:17] #176 closed

[2021-05-05 15:36] yukasaa opened #178 "删除Go包"
请从golang.com.cn上删除github.com/yukasaa/nummanip下的所有包，我是这些包的作者，他们仅用于测试，并且我希望删除它们，谢谢。

[2021-05-10 08:52] zhaiyujin opened #179 "删除go包(delete package)"
请从golang.com.cn上删除github.com/zhaiyujin/storage包，我是这些包的作者，包存在问题，并且我希望删除它们，谢谢。

[2021-05-12 04:10] donnol opened #180 "github.com/go-kit/kit@v0.10.0: verifying module: github.com/go-kit/kit@v0.10.0: reading https://goproxy.io/sumdb/sum.golang.org/tile/8/0/x003/099: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug="""
`http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""`

I got the error when I run `go mod download`.

[2021-05-13 00:37] little-cui opened #181 "Return connection reset by peer when download the packages. e.g etcd, protobuf"
go version is 1.14.9

run command in HUAWEI cloud VM below
[code]

then return errors

[code]

[2021-05-17 09:16] oiooj commented on #181
@little-cui If you can't not access goproxy.io servers, you can try to use `proxy.golang.com.cn`

[code]

[2021-05-17 09:16] #181 closed

[2021-05-24 18:19] drewwells opened #182 "Instructions for privately hosted go modules"
It is clear that goproxy can be used for private repositories, but it is unclear how to correctly set this up. I have put goproxy on a computer with full ssh access (and populated GOPATH). I am able to use this to pull code from a machine without private repo access, but there's some caveats with it.

The client computer didn't appear to use the proxy if it could call git directly. So I removed ss

[2021-09-02 02:25] littlefisher666 opened #183 "goproxy.io Private功能是否已发布开源版本"
在企业内部的gitlab仓库，一般都是私有的仓库，我看已经有了一个https://user.goproxy.io，但是对于企业而言，可能更需要的还是自己独立搭建一个goproxy。我基于现有的docker搭建了之后，一方面不知道开源的goproxy是否有Private功能，另一方面也不清楚uri是怎么设计的，如何进入类似于https://user.goproxy.io的配置页面。

还请释疑，谢谢

[2021-09-06 15:29] ArnoSen commented on #182
I am running into similar issues but not always.
The public sumdb is used for private repositories (e.g. repositories under --exclude).
Documentation on how to configure for internally hosted repositories is more than welcome.

Sometimes I need to restart the service a few times and then suddenly it starts to function.
Since this issue is stale for 3.5 months, I wonder if this repo is still suppor

[2021-09-10 16:58] ArnoSen commented on #182
After further investigation, I found out that most of the issues I was running was caused by:
- using an older version of go (1.13.8) which has less specific error messages compared to version 1.16.7 that I am running right now. With the better error reporting I was able to solve the issues I had and it looks like to be stable now
- apparently I was not following the right procedure to update a de

[2021-09-21 11:05] klauspost opened #184 "404: "no space left on device" returned."
[code]

[2021-09-26 04:02] dreamans opened #185 "certificate has expired"
Get "https://goproxy.io/github.com/gomodule/redigo/@v/v1.8.5.mod": x509: certificate has expired or is not yet valid

[2021-09-26 05:50] gaius-qi commented on #185
Same problem.

[2021-09-27 05:37] LaurenceLiZhixin commented on #185
Same problem

[2021-09-28 13:28] marcusalmeida commented on #185
The certificate has expired 25 september 2021.

$ echo | openssl s_client -servername goproxy.io -connect goproxy.io:443 2>/dev/null | openssl x509 -text
[code]

[2021-09-30 12:51] thassyano commented on #185
The same problem here , someone fixed ?

[2021-10-04 06:05] kaisawind commented on #185
It's OK now.
[code]

[2021-10-04 11:54] marcusalmeida commented on #185
Nice!

[2021-10-05 17:58] pcj commented on #185
Still seeing this issue.  Any update?

[2021-10-05 18:03] marcusalmeida commented on #185
There is a way.

$ export GOPROXY=proxy.golang.org

[2021-10-14 06:03] shuzhongling opened #186 "goproxy failed to get cloud.google.com/go"
i download the master code if goproxy and build the goproxy executable grogram.  i use go v1.17.2.
i use the build out goproxy grogram on my test server to proxy my go module request.
i use a test server as the proxy server, start the goproxy with the following command:
[code]

on the test server, the git env is as follow:
[code]

on my local computer, i clean all files in  `${GOPATH}/pkg/mod` dir

[2021-10-20 12:57] Y4ssss opened #187 "could goproxy support to set cache expire time?"
`const ListExpire = 5 * time.Minute `
the cache expire data duration default is 5 min, why not as a flag, could set when goproxy starts.

[2021-10-25 21:55] donovanrost opened #189 "How to perform health check?"
I'm hosting this on AWS Fargate. Fargate requires a health check. Using "/" as the route to perform a health check doesn't return 200 or 404, which would be valid responses.

Is there a recommend  end point to use for performing a health check?

[2021-10-27 17:27] #189 closed, assigned to nobody

[2021-11-08 07:00] #187 closed

[2021-11-08 07:01] oiooj commented on #185
Fixed

[2021-11-08 07:01] #185 closed

[2021-11-08 07:02] oiooj commented on #186
As we all know the reason, use HTTPS please.

[2021-11-08 07:02] #186 closed

[2021-11-08 07:02] oiooj commented on #184
Fixed Thanks.

[2021-11-08 07:02] #184 closed

[2021-11-08 07:09] oiooj commented on #183
首先，https://user.goproxy.io 已经下线，就像您所说，企业内部才更需要这样的功能，但是 user.goproxy.io 上线之初的定位是 to C，目前 goporxy Private 功能已经产品化，它具有目前市面上公共服务没有的诸多特性：

[code]

https://blog.csdn.net/RA681t58CJxsgCkJ31/article/details/115474921

[2021-11-18 15:44] nikolajiang opened #191 "windows cache path"
in file proxy/route.go, use path.Dir(file) to get the dir of cache file;
but in windows it will just return ".",
because the path separator in path.Dir(path string) is "\" , and the path separator in the file is "/".
it may replace path.Dir(file) with filepath.ToSlash(filepath.Dir(file)).

[2021-11-24 01:40] walkmiao opened #192 "无外网环境下如何使用go module"
无外网环境下搭建goproxyio,那么项目中需要使用一些包。有哪些方法可以把要使用的包上传到goproxyio呢？

[2021-11-25 04:18] oiooj commented on #191
@nikolajiang Can you help send a PR for this issue?

[2021-11-25 04:20] oiooj commented on #192
可以将这些包上传到部署 goproxyio 服务器的 `GOMODCACHE` 环境变量下。
`GOMODCACHE` 是一个环境变量，是 Go 存放 Modules cache 的目录。

[2021-12-03 04:32] oiooj commented on #183
了解详情：https://goproxy.io/zh/docs/enterprise.html

[2021-12-09 05:34] walkmiao commented on #192
不好意思，这些天因为忙别的事情没来得及回复。只有这样一种方法吗？有没有其他更方便的处理方式呢。谢谢指导！

[2021-12-13 23:26] lcd1232 commented on #184
Same error
[code]

[2022-02-16 07:12] sxueck opened #194 "there seems to be a problem with the proxy 302 code"
https://github.com/goproxyio/goproxy/blob/e03dc0f0bf84ec8ea486c6976e966dc3038772d3/proxy/router.go#L117

[code]

I understand that the code here is getting the real address from the `location`, but the packet is actually unmodified
I (client) will also jump over to the returned packet to get it myself

I think a slight code change, like this would work ?

example:
[code]

[2022-02-17 11:06] EldarKurbanov commented on #98
Flag `-proxy https://goproxy.io` or `-proxy https://proxy.golang.org` works for me

[2022-02-18 04:16] oiooj commented on #194
@sxueck Could you help us send a PR to fix this?

[2022-02-18 06:13] sxueck commented on #194
sure

[2022-03-04 06:21] roygbip commented on #180
same issue

[2022-03-10 01:39] zwjwl opened #196 "How to change to HTTPS"
I set up the service using the docker, but I can't find how to change to https to access goproxy

[2022-03-14 08:16] oiooj commented on #179
Deleted

[2022-03-14 08:16] #179 closed

[2022-03-14 08:16] oiooj commented on #178
Deleted

[2022-03-14 08:16] #178 closed

[2022-03-16 08:22] godcong opened #197 "502 Bad Gateway with go1.18"
i used docker goproxy

in 1.17 get module without version
[code]

in 1.18 get module without version
[code]

with master in 1.18
[code]

with commit hash in 1.18
[code]

when i changed GOPROXY=https://goproxy.io
returned this error:
[code]

go1.18 seems to have changed the address of the access list

[2022-03-16 10:09] timandy opened #198 "go get error"
@oiooj  Hi, when I update  testify to the latest version, some error occurs.

[code]
output:

github.com/stretchr/testify/assert: github.com/stretchr/testify@v1.7.1: verifying module: github.com/stretchr/testify@v1.7.1: reading https://goproxy.io/sumdb/sum.golang.org/lookup/github.com/stretchr/testify@v1.7.1: stream error: stream ID 5; INTERNAL_ERROR; received from peer

![image](https://user-imag

[2022-03-16 12:12] dhiller commented on #198
We are having similar errors, example here: https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7374/pull-kubevirt-e2e-k8s-1.23-operator/1504057360094597120

Our CI search reveals that we are getting a lot of the INTERNAL_ERROR s recently (since around 24h, also happened 4days ago): https://search.ci.kubevirt.io/?search=INTERNAL_ERROR&maxAge=336h&context=1&type=build-l

[2022-03-16 12:15] dhiller commented on #198
One more note: while we are using bazel, we also experienced this to happen in pure go builds.

[2022-03-17 01:40] oiooj commented on #197
Fixed Thanks @godcong

[2022-03-17 01:40] #197 closed

[2022-03-17 01:42] oiooj commented on #198
Fixed Thanks @timandy

[2022-03-17 01:42] #198 closed

[2022-03-17 05:12] godcong commented on #197
good, so quickly~~~

[2022-03-18 03:30] Laotree opened #199 "[stream error: stream ID 11; INTERNAL_ERROR]"
[code]

[code]

[2022-03-18 06:18] timandy commented on #199
The same issue happened for me. @oiooj

[2022-03-20 13:08] oiooj commented on #199
We try to use HTTP2  on our server side, but the CDN provider has some compatibility issues， so we disable HTTP2 now, if you still meet this issue feel free to contact me. Thanks all, @timandy @Laotree

[2022-03-22 14:22] hawayiii opened #200 "failed to download pdfcpu when use proxy.golang.com.cn"
when use GORPOXY=proxy.golang.com.cn,
then  GET https://proxy.golang.com.cn/github.com/pdfcpu/pdfcpu/@v/v0.3.11.zip return EOF

please help check this error

[2022-03-23 02:32] oiooj commented on #200
I'm investigating this issue. Thanks for your report.

[2022-03-23 02:32] #199 closed

[2022-03-23 02:57] orestonce opened #201 "checksum检查不通过"
以下Dockerfile运行通过:
[code]

==========分割线============

以下Dockerfile运行错误:
[code]

报错信息:
[code]

[2022-03-23 03:17] oiooj commented on #200
This issue fixed online, please confirm @hawayiii @MDUK0001

[2022-03-23 08:38] hawayiii commented on #200
thx.
can shard what reason cause this issue ?

[2022-03-24 16:24] oiooj commented on #201
fyne.io/fyne/v2@v2.1.4 很有可能是作者在 v2.1.4 这个版本上重新打了版本，google 记录的 sum 值是老的，而 goproxy.io 下载的是作者修改过之后的包，建议换一个 tag （如果有的话） 进行测试，或者将这个问题反馈给作者，让作者发布一个 新的 tag 就能解决这个问题。

[2022-03-24 16:26] oiooj commented on #200
The CDN provider request our source site has some problem, some requests reset by the peer，now fixed.

[2022-03-24 16:26] #200 closed

[2022-03-25 01:00] orestonce commented on #201
好，我去fyne那边交谈一下

[2022-03-25 03:23] #98 closed

[2022-04-13 08:04] aegistudio opened #202 "gosum.io responds with 'Not found' for most queries"
Have a try:

[code]

Very likely to be a temporary failure.

[2022-04-14 02:37] hxzhao527 commented on #202
There seem an infinite loop here  when `enableGoogleSumDB==false`

https://github.com/goproxyio/goproxy/blob/e03dc0f0bf84ec8ea486c6976e966dc3038772d3/sumdb/handler.go#L47-L48

https://github.com/goproxyio/goproxy/blob/e03dc0f0bf84ec8ea486c6976e966dc3038772d3/sumdb/handler.go#L56-L59

[2022-04-14 07:02] hxzhao527 commented on #202
@aegistudio
I guess that because *gosum.io* have its own storage,  `goproxy@v1.0.0` is too old that `gosum.io` don't have its checksum.

but the official sumdb has `curl https://sum.golang.google.cn/lookup/github.com/goproxyio/goproxy@v1.0.0`.

[2022-04-14 07:06] aegistudio commented on #202
Great, I'll have a try.

[2022-04-15 06:30] #201 closed

[2022-04-18 03:02] oiooj commented on #202
Gosum.io Server go offline in last week, the service is now back, sorry about that.

[2022-04-18 03:02] #202 closed

[2022-05-12 07:08] littlefisher666 commented on #183
@oiooj 企业版这个是收费的还是怎样的？我没有找到对应的安装介绍，也没看到付费说明等等的

[2022-05-26 18:29] oiooj commented on #183
@littlefisher666  请联系wechat： crossthelife

[2022-06-06 12:39] jianzhiyao commented on #182
I meet that issue also, it's running good after setting GOPRIVATE on proxy machine

[2022-06-09 10:25] dhiller opened #204 "connection reset by peer when accessing goproxy.io"
We are hitting sporadic network failures on our builds when accessing goproxy.io (which is the 2nd proxy entry in GOPROXY). Thus we have removed goproxy.io from our proxy setting: https://github.com/kubevirt/project-infra/pull/2151

AFAICT this is not related to any specific dependency we are consuming in our builds. Also in the [goproxy protocol spec](https://go.dev/ref/mod#goproxy-protocol) it s

[2022-06-13 08:53] oiooj commented on #204
Hi @dhiller , It's seems that there's some connection issue to goproxy.io servers, can you try to use `proxy.golang.com.cn`, this domain use global CDN. goproxy.io is the source site in HK.

Thanks @dhiller

[2022-06-28 11:44] zzjin opened #205 "gosum.io responds with 'Not found' for package `gopkg.in/ini.v1`"
RT

 `curl https://goproxy.io/sumdb/gosum.io/lookup/gopkg.in/ini.v1@v1.66.6` or `curl https://proxy.golang.com.cn/sumdb/gosum.io/lookup/gopkg.in/ini.v1@v1.66.6` return `not found`

But `curl https://sum.golang.google.cn/lookup/gopkg.in/ini.v1@v1.66.6` return fine.

Maybe #202 not fully fixed. `gosum.io` is not synced with upstream?

[2022-07-15 03:21] oiooj commented on #205
The ca certs expired on the server, updated. Thanks @zzjin

[2022-07-15 03:21] #205 closed

[2022-07-15 06:58] Oliver-Wu opened #206 "How do I know which open source protocol is used for open source components?"
Hello, how do I know which open source protocol is used for open source components? If any label on the component?

[2022-07-15 15:06] hxzhao527 commented on #206
1. goproxy.io does't manage the license. You need check it by yourself.
2. the go toolchain does't care about the license either.
3. even private, `go get` could also fetch if you have access of the repo.

ref:
* [Go Modules Reference](https://go.dev/ref/mod)

[2022-07-18 01:36] Oliver-Wu commented on #206
Thanks

[2022-07-18 01:36] #206 closed

[2022-07-26 04:52] FRookie opened #207 "BUGS on https://proxy.golang.com.cn/docs/GOSUMDB-env.html about copy-button"
Right copy-value:
![image](https://user-images.githubusercontent.com/33781946/180924561-d1ff4f92-7731-44df-9a14-61975c4d7ba6.png)

Wrong copy-value:

![image](https://user-images.githubusercontent.com/33781946/180924753-54e3ad11-708e-49f5-8580-5ce148cdfe84.png)

Solution:

Maybe you can add the attribute "id" and point the data-clipboard-target value to this.
 Like this:
![image](https://user-imag

[2022-08-02 14:17] #207 closed

[2022-08-09 07:03] zwjzxh520 opened #208 "域名没续费了？lookup proxy.golang.com.cn: no such host"
刚刚拉取代码的时候，出现了以下提示

[code]

[2022-08-09 08:02] hxzhao527 commented on #208
尝试清理下dns缓存吧. 大概率网路问题.

[2022-08-10 09:25] starryrbs opened #209 "The checksums generated by sum.golang.org and gosum.io are different"
package: github.com/StackExchange/wmi@v1.2.0

[code]
output
[code]

[code]

output
[code]

[code]

ooutput

[code]

[2022-08-10 14:52] hxzhao527 commented on #209
it should be
[code]

maybe the version(git tag) v1.2.0 released twice or more.

`gosum.io` didn't get this change, so it keep the old check-sum.

[2022-09-24 14:55] #208 closed

[2022-10-21 19:03] yardenshoham opened #210 "502 Bad Gateway when running golang-ci-lint@v1.47.0"
It started happening today. To reproduce:

[code]

[2022-10-22 07:59] #210 closed